<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Person</title>
</head>
<body>
	<h1>Search Person</h1>
	<table >
		<tbody>
			<tr th:each="person : ${listPersons}">
				<td th:text="${person.personId}">Test</td>
				<td th:text="${person.firstName}">Test</td>	
				<td th:text="${person.lastName}">Test</td>	
			</tr>
		</tbody>	
	</table><br>
	<div>Number of persons: <span th:text="${numberOfPersons}"></div><br>
	<form action="#" method="post" th:action="@{/searchperson}">
  		<input type="submit" value="Back">
	</form> 
</body>
</html>